<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="XHProfLib Test Suite">
      <directory>tests/XHProfLib/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">src/XHProfLib/</directory>
    </whitelist>
  </filter>
</phpunit>
